.navContainer {
	background-color: var(--black-color);
}

.nav {
	max-width: 1330px;
	display: flex;
	margin: auto;
	position: relative;
}

.menu {
	position: absolute;
	color: white;
	background-color: var(--secondary-color);
	top: 61px;
	left: 1rem;
	gap: 1rem;
	opacity: 0;
	display: none;
	z-index: 10;
}

.open {
	opacity: 1;
	display: flex;
}
