.navContainer {
	background-color: var(--black-color);
}

.nav {
	max-width: 1330px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	position: relative;
}

.categories {
	display: flex;
}

.menu {
	position: absolute;
	top: 61px;
	opacity: 0;
	display: none;
	z-index: 10;
	transition: opacity 0.2s ease-in;
}

.open {
	opacity: 1;
	display: block;
}
