@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--primary-color: #faedcd;
	--secondary-color: #b8d0eb;
	--black-color: #0a0908;
	--darkgrey-color: #ccc;
	--lightgrey-color: #f2f4f5;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "roboto", "sans-serif";
	color: var(--black-color);
}
body {
	background-color: var(--lightgrey-color);
}
html,
body {
	height: 100%;
}
